body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.controls {
    margin-bottom: 20px;
}

.controls label {
    display: block;
    margin-bottom: 5px;
}

.controls input[type="range"], .controls input[type="checkbox"] {
    width: 100%;
    margin-bottom: 15px;
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

#image-display {
    max-width: 100%;
    max-height: 500px;  /* Максимальна висота зображення */
    height: auto;
    width: auto;
    border: 1px solid #ddd;
    margin: 10px 0;
}

#download-image-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

#download-image-btn:hover {
    background-color: #45a049;
}
